body{
  padding-bottom: 100px
}

.navbar{
  padding: 15px;
}


.card {

  .card-body {
    color: black;
  }

  .card-link {
    text-decoration: none;
  }

  .like-btn {
    position: absolute;
    margin: 5px;
    right: 0;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: red;
    }

    &:active {
      color: red !important;
      border-color: rgba(255, 0, 0, 0) !important;
    }
  }

  .edit-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 5px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .delete-btn{
    position: absolute;
    margin: 5px;
    width: 40px;
    height: 40px;
    left: 0;
    top: 45px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.liked .fas {
  color: red;
  transition: color 0.3s ease-in-out;
  &:active {
    color: white !important;
    border-color: rgba(255, 0, 0, 0) !important;
  }
}

.overlay-container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

