body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  height: 100px !important;
}

.navbar{
  padding: 15px;
}


.card {

  .card-body {
    color: black;
  }

  .card-link {
    text-decoration: none;
  }

  .like-btn {
    position: absolute;
    margin: 5px;
    right: 0;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: red;
    }

    &:active {
      color: red !important;
      border-color: rgba(255, 0, 0, 0) !important;
    }
  }

  .edit-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 5px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .delete-btn{
    position: absolute;
    margin: 5px;
    width: 40px;
    height: 40px;
    left: 0;
    top: 45px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.r-edit-btn {
  position: absolute;
  margin: 5px;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
}

.r-delete-btn {
  margin: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0px;
}

.liked .fas {
  color: red;
  transition: color 0.3s ease-in-out;
  &:active {
    color: white !important;
    border-color: rgba(255, 0, 0, 0) !important;
  }
}

.overlay-container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.container {
  margin-bottom: 50px;
}

.responive {
  justify-content: space-evenly !important;
  margin-bottom: 20px;
}

a.btn.btn-primary.mr-2x.w-25.m-3.p-3 {
  width: 75% !important;
}

.profile-pic-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pic-holder {
  text-align: center;
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pic-holder .pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.pic-holder .upload-file-block {
  cursor: pointer;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus ~ .upload-file-block {
  opacity: 1;
}

.pic-holder.uploadInProgress .upload-file-block {
  display: none;
}

.pic-holder.uploadInProgress .upload-loader {
  opacity: 1;
}

/* Snackbar css */
.snackbar {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 14px;
  transform: translateX(-50%);
}

.snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.text-left {
  text-align: left !important;
}

.category-button {
  width: 250px;
  height: auto;
  position: fixed;
  font-size: 20px;
  top: 300px;
  left: -110px;
  transform: rotate(-90deg);
  font-weight: bold;
  z-index: 100;
}